<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Course Page - {{ course.title }}</title>
    <link href="{% static 'x.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Course Page - {{ course.title }}</h1>
    <form action="/coursepage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/coursepage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/coursepage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/coursepage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
{{ message }}
{% if role == 'admin' %}
    <form action="/coursepage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">Back to Courses</button>
        <br>
        {% csrf_token %}
        <button type="submit" name="navigation" value="createsection" class="greenbutton">Create New Section</button>
        {% csrf_token %}
        <button type="submit" name="navigation" value="editcourse" class="bluebutton">Edit This Course</button>
        {% csrf_token %}
        <button type="submit" name="navigation" onclick="return confirm('Are you sure?')" value="deletecourse"
                class="redbutton">Delete Course
        </button>
    </form>
{% endif %}

<table id="myTable">
    <tr>
        <td class="label">Course:</td>
        <td>{{ course.title }}</td>
    </tr>
    <tr>
        <td class="label">Semester:</td>
        <td>{{ course.semester }} {{ course.year }}</td>
    </tr>
    <tr>
        <td class="label">Assigned Users</td>
        <td>
            {% if role == 'admin' %}
                <form action="/coursepage/" method="post">
                    {% csrf_token %}
                    <label for="adduser">Add a new user to the course:</label>
                    <input list="addusers" name="adduser" id="adduser">
                    <datalist id="addusers">
                        {% for user in unassignedusers %}
                            <option value= {{ user.email }}>{{ user.fullname }}</option>
                        {% endfor %}
                    </datalist>
                    <input type="submit">
                </form>
            {% endif %}
        </td>
    </tr>
    {% for user in course.users %}
        <tr>
            <td>{{ user.fullname }}</td>
            <td>
                <form action="/coursepage/" method="post">
                {% csrf_token %}
                <button type="submit" name="selecteduser" value={{ user.email }} class="bluebutton">View User</button>
                {% csrf_token %}
                <button type="submit" name="removeuser" onclick="return confirm('Are you sure?')" value={{ user.email }} class="redbutton">Remove User</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="label" colspan="2">Sections</td>
        <td></td>
    </tr>
    {% for section in course.sections %}
        <tr>
            <td>{{ section.title }}</td>
            <td>
                <form action="/coursepage/" method="post">
                    {% csrf_token %}
                    <button type="submit" name="selectedsection" class="bluebutton" value={{ section.id }}>View
                        Section
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>