<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Create Section</title>
    <link href="{% static 'x.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Create Section</h1>
    <form action="/createsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/createsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/createsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/createsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
<form action="/createsection/" method="post">
    {% csrf_token %}
    <table id="myTable">
        <tr>
            <td class="label">Section Number:</td>
            <td><input type="text" name="sectionnumber" required></td>
        </tr>
        <tr>
            <td class="label">Location:</td>
            <td><input type="text" name="location" required></td>
        </tr>
        <tr>
            <td class="label">Days meeting:</td>
            <td><input type="checkbox" name="M" value="M" id="M"><label for="M">Monday</label>
                <input type="checkbox" name="T" value="T" id="T"><label for="T">Tuesday</label>
                <input type="checkbox" name="W" value="W" id="W"><label for="W">Wednesday</label>
                <input type="checkbox" name="H" value="H" id="H"><label for="H">Thursday</label>
                <input type="checkbox" name="F" value="F" id="F"><label for="F">Friday</label>
                <input type="checkbox" name="S" value="S" id="S"><label for="S">Saturday</label>
                <input type="checkbox" name="U" value="U" id="U"><label for="U">Sunday</label>
                <input type="checkbox" name="A" value="A" id="A"><label for="A">No Meeting Pattern</label></td>
        </tr>
        <tr>
            <td class="label">Start Time:</td>
            <td><input type="time" name="starttime" required></td>
        </tr>
        <tr>
            <td class="label">End Time:</td>
            <td><input type="time" name="endtime" required></td>
        </tr>
        <tr>
            <td class="label">Section Type:</td>
            <td><select name="type" id="type" required>
                <option value="lecture">Lecture</option>
                <option value="grader">Grader</option>
                <option value="section">Section</option>
            </select></td>
        </tr>
    </table>
    <input type="submit" value="Create" class="greenbutton">
</form>
<form action="/createsection/" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Are you sure?')" name="navigation" value="Cancel" class="redbutton">
        Cancel
    </button>
</form>
</body>
</html>