<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course Page</title>
</head>
<body>
<h1>Create Course Page</h1>

    <form action="/createcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/createcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/createcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/createcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>
    <form action="/createcourse/" method="post">
        {% csrf_token %}
        <table>
            <tr><td>Course Name: </td><td><input type="text" name="coursename"required></td></tr>
            <tr><td>Department: </td><td><input type="text" name="department"required></td></tr>
            <tr><td>Course Number: </td><td><input type="text" name="coursenumber"required></td></tr>
            <tr><td>semester: </td><td><select name ="semester" id="semester"required>
                <option value="fa">Fall</option>
                <option value="sp">Spring</option>
                <option value="su">Summer</option>
                <option value="wi">Winter</option>
            </select></td></tr>
            <tr><td>Year: </td><td><input type="text" name="year"required></td></tr>
        </table>
        <input type="submit">
    </form>
    <form action="/createcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" onclick="return confirm('Are you sure?')" name="navigation" value="cancel">Cancel</button>
    </form>
</body>
</html>