<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User Page</title>
</head>
<body>
<h1>Create User Page</h1>

    <form action="/createuser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/createuser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/createuser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/createuser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>
    <form action="/createuser/" method="post">
        {% csrf_token %}
        <table>
            <tr><td>email: </td><td><input type="email" name="email"required></td></tr>
            <tr><td>password: </td><td><input type="password" name="password"required></td></tr>
            <tr><td>confirm password: </td><td><input type="password" name="confirmpassword"required></td></tr>
            <tr><td>first name: </td><td><input type="text" name="firstname"required></td></tr>
            <tr><td>last name: </td><td><input type="text" name="lastname"required></td></tr>
            <tr><td>phone number: </td><td><input type="tel" name="phonenumber" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required></td></tr>
            <tr><td>street address: </td><td><input type="text" name="streetaddress"required></td></tr>
            <tr><td>city: </td><td><input type="text" name="city"required></td></tr>
            <tr><td>state: </td><td><input type="text" name="state"required></td></tr>
            <tr><td>zipcode: </td><td><input type="text" name="zipcode"required></td></tr>
            <tr><td>role: </td><td><select name ="role" id="role"required>
                <option value="admin">Admin</option>
                <option value="instructor">Instructor</option>
                <option value="ta">TA</option>
            </select></td></tr>
            </table>
            <input type="submit">
    </form>
    {{ message }}
    <form action="/createuser/" method="post">
        {% csrf_token %}
        <button type = "submit" onclick="return confirm('Are you sure?')" name="navigation" value="cancel">Cancel</button>
    </form>
</body>
</html>