<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Dashboard</title>
    <link href="{% static 'dashboard.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Dashboard</h1>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
<div class="grid-container">
    <div class="grid-child">
        <h2 id="greet">Hello, {{ user.fullname }}! <br> Welcome to Schedule Planner!</h2>
        <form action="/dashboard/" method="post">
            {% csrf_token %}
            <button type="submit" name="navigation" value="viewself" class="bluebutton">View My Account</button>
        </form>
    </div>
    <div class="grid-child">
        <p class="label">Assigned Courses:</p>
        {% if user.courses == None %}
            You are not in any courses.
        {% else %}
            <table id="myTable">
                {% for course in user.courses %}
                    <tr>
                        <td class="label">{{ course.title }}</td>
                        <td>{{ course.semester }}, {{ course.year }}</td>
                        <td>
                            <form action="/dashboard/" method="post">
                                {% csrf_token %}
                                <button type="submit" name="selectedcourse" class="bluebutton" value={{ course.id }}>
                                    View Course
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <div class="grid-child">
        <p class="label">Assigned Sections:</p>
        {% if user.sections == None %}
            You are not in any sections.
        {% else %}
            <table id="myTable">
                {% for section in user.sections %}
                    <tr>
                        <td>{{ section.title }}
                            - {{ section.daysMeeting }} {{ section.location }}<br>{{ section.course }} </td>
                        <td>
                            <form action="/dashboard/" method="post">
                                {% csrf_token %}
                                <button type="submit" name="selectedsection" class="bluebutton" value={{ section.id }}>
                                    View
                                    Section
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

</div>
</body>
</html>