<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directory</title>
</head>
<body>
<h1>Directory Page</h1>

    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>
    {% if role == "admin" %}
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="createuser">Create New User</button>
    </form>
    {% endif %}
{{ message }}
<table>
    {% for user in list %}
        <tr>
            <td>{{ user.fullname }}</td>
            <td>{{ user.role }}</td>
            <td><form action="/directory/" method="post">
                {% csrf_token %}
                <button type = "submit" name="selecteduser" value={{ user.email }}>View User</button>
            </form></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>