<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Directory</title>
    <link href="{% static 'directory.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Directory</h1>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>

{% if role == "admin" %}
    <form action="/directory/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="createuser" class="greenbutton">Create New User</button>

    </form>
{% endif %}
{{ message }}
<table id="myTable">
    {% for user in list %}
        <tr>
            <td class="label">{{ user.fullname }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form action="/directory/" method="post">
                    {% csrf_token %}
                    <button type="submit" name="selecteduser" class="bluebutton" value={{ user.email }}>View User
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{{ message }}
</body>
</html>