<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course PAge</title>
</head>
<body>
<h1>Edit Course Page</h1>

    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>

<table>
    <tr><td>Current Course Name</td><td>*variable*</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editcourse/" method="post">
                {% csrf_token %}
                <input type="text" name="coursename"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Department:</td><td>*variable*</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editcourse/" method="post">
                {% csrf_token %}
                <input type="text" name="department"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Course Number:</td><td>*variable*</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editcourse/" method="post">
                {% csrf_token %}
                <input type="text"  name="coursenumber"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Semester:</td><td>*variable*</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editcourse/" method="post">
                {% csrf_token %}
                <select name ="semester" id="semester">
                <option value="fa">Fall</option>
                <option value="sp">Spring</option>
                <option value="su">Summer</option>
                <option value="wi">Winter</option>
                </select>
                <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Year:</td><td>*variable*</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editcourse/" method="post">
                {% csrf_token %}
                <input type="text" name="year"> <input type="submit"></form>
            </td>
        </tr>
</table>
</body>
</html>