<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Course PAge</title>
</head>
<body>
<h1>Edit Course Page</h1>

    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/editcourse/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>
</body>
</html>