<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User Page</title>
</head>
<body>
<h1>Edit User Page</h1>

    <form action="/edituser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/edituser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/edituser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/edituser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>


<table>
    <tr><td>Current First Name:</td><td>{{user.firstname}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="firstname"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Last Name:</td><td>{{user.lastname}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="lastname"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Phone Number:</td><td>{{user.phonenumber}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" name="phonenumber"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Street Address:</td><td>{{user.streetaddress}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="streetaddress"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current City:</td><td>{{user.city}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="city"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current State:</td><td>{{user.state}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="state"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Zipcode:</td><td>{{user.zipcode}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="zipcode"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Role:</td><td>{{user.role}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <select name ="role" id="role"required>
                <option value="admin">Admin</option>
                <option value="instructor">Instructor</option>
                <option value="ta">TA</option>
                </select>
                <input type="submit"></form>
            </td>
        </tr>
</table>
{{ message }}
<form action="/edituser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="cancel">Cancel</button>
</form>
</body>
</html>