<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Edit Section</title>
    <link href="{% static 'editsection.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Edit Section</h1>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
{{ message }}
<table id="myTable">
    <tr>
        <td class="label">Current Section Number:</td>
        <td>{{ section.sectionnumber }}</td>
    </tr>
    <tr>
        <td class="label">New Value:</td>
        <td>
            <form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="text" name="sectionnumber"> <input type="submit" value="Save" class="greenbutton"></form>
        </td>
    </tr>
    <tr>
        <td class="label">Current Location:</td>
        <td>{{ section.location }}</td>
    </tr>
    <tr>
        <td class="label">New Value:</td>
        <td>
            <form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="text" name="location"> <input type="submit" value="Save" class="greenbutton"></form>
        </td>
    </tr>
    <tr>
        <td class="label">Current Days Meeting:</td>
        <td>{{ section.daysmeeting }}</td>
    </tr>
    <tr>
        <td class="label">New Value:</td>
        <td>
            <form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="checkbox" name="daysmeeting" value="M" id="M"><label for="M">Mon</label>
                <input type="checkbox" name="daysmeeting" value="T" id="T"><label for="T">Tue</label>
                <input type="checkbox" name="daysmeeting" value="W" id="W"><label for="W">Wed</label>
                <input type="checkbox" name="daysmeeting" value="H" id="H"><label for="H">Thu</label>
                <input type="checkbox" name="daysmeeting" value="F" id="F"><label for="F">Fri</label>
                <input type="checkbox" name="daysmeeting" value="S" id="S"><label for="S">Sat</label>
                <input type="checkbox" name="daysmeeting" value="U" id="U"><label for="U">Sun</label>
                <input type="checkbox" name="daysmeeting" value="A" id="A"><label for="A">No Pattern</label>
                <input type="submit" value="Save" class="greenbutton">
            </form>

        </td>
    </tr>
    <tr>
        <td class="label">Current Start Time:</td>
        <td>{{ section.starttime }}</td>
    </tr>
    <tr>
        <td class="label">New Value:</td>
        <td>
            <form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="time" name="starttime"> <input type="submit" value="Save" class="greenbutton"></form>
        </td>
    </tr>
    <tr>
        <td class="label">Current End Time:</td>
        <td>{{ section.endtime }}</td>
    </tr>
    <tr>
        <td class="label">New Value:</td>
        <td>
            <form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="time" name="endtime"> <input type="submit" value="Save" class="greenbutton"></form>
        </td>
    </tr>
    <tr>
        <td class="label">Current Section Type:</td>
        <td>{{ section.type }}</td>
    </tr>
    <tr>
        <td class="label">New Value:</td>
        <td>
            <form action="/editsection/" method="post">
                {% csrf_token %}
                <select name="type" id="type">
                    <option value="lecture">Lecture</option>
                    <option value="grader">Grader</option>
                    <option value="lab">Lab</option>
                </select>
                <input type="submit" value="Save" class="greenbutton"></form>
        </td>
    </tr>
</table>
<form action="/editsection/" method="post">
    {% csrf_token %}
    <button type="submit" name="navigation" value="cancel" class="redbutton">Cancel</button>
</form>
</body>
</html>