<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Edit User</title>
    <link href="{% static 'x.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Edit User</h1>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
<table id="myTable">
    <tr><td>Current First Name:</td><td>{{user.firstname}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="firstname"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current Last Name:</td><td>{{user.lastname}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="lastname"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current Phone Number:</td><td>{{user.phonenumber}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" name="phonenumber"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current Street Address:</td><td>{{user.streetaddress}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="streetaddress"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current City:</td><td>{{user.city}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="city"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current State:</td><td>{{user.state}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="state"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current Zipcode:</td><td>{{user.zipcode}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <input type="text" name="zipcode"> <input type="submit" value="Save" class="greenbutton"></form>
            </td>
        </tr>
    <tr><td class="label">Current Role:</td><td>{{user.role}}</td></tr>
        <tr>
            <td class="label">New Value:</td>
            <td><form action="/edituser/" method="post">
                {% csrf_token %}
                <select name="role" id="role" required>
                    <option value="admin">Admin</option>
                    <option value="instructor">Instructor</option>
                    <option value="ta">TA</option>
                </select>
                <input type="submit" value="Save" class="greenbutton"></form>
        </td>
    </tr>
</table>
{{ message }}
<form action="/edituser/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="cancel" class="redbutton">Cancel</button>
</form>
</body>
</html>