<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Section Page</title>
</head>
<body>
<h1>Edit Section Page</h1>

    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/editsection/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>


<table>
    <tr><td>Current Section Number:</td><td>{{section.sectionnumber}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="text" name="sectionnumber"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Location:</td><td>{{section.location}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="text" name="location"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Days Meeting:</td><td>{{section.daysmeeting}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="checkbox" name="daysmeeting" value="M" id="M"><label for="M">Monday</label>
                <input type="checkbox" name="daysmeeting" value="T" id="T"><label for="T">Tuesday</label>
                <input type="checkbox" name="daysmeeting" value="W" id="W"><label for="W">Wednesday</label>
                <input type="checkbox" name="daysmeeting" value="H" id="H"><label for="H">Thursday</label>
                <input type="checkbox" name="daysmeeting" value="F" id="F"><label for="F">Friday</label>
                <input type="checkbox" name="daysmeeting" value="S" id="S"><label for="S">Saturday</label>
                <input type="checkbox" name="daysmeeting" value="U" id="U"><label for="U">Sunday</label>
                <input type="checkbox" name="daysmeeting" value="A" id="A"><label for="A">No Meeting Pattern</label>
                <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Start Time:</td><td>{{section.starttime}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="time" name="starttime"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current End Time:</td><td>{{section.endtime}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editsection/" method="post">
                {% csrf_token %}
                <input type="time" name="endtime"> <input type="submit"></form>
            </td>
        </tr>
    <tr><td>Current Section Type:</td><td>{{section.type}}</td></tr>
        <tr>
            <td>New Value:</td>
            <td><form action="/editsection/" method="post">
                {% csrf_token %}
                <select name ="type" id="type">
                <option value="lecture">Lecture</option>
                <option value="grader">Grader</option>
                <option value="lab">Lab</option>
                </select>
                <input type="submit"></form>
            </td>
        </tr>
</table>
{{ message }}
<form action="/editsection/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="cancel">Cancel</button>
</form>
</body>
</html>