<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link href="{% static 'x.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<h1 id="titlebar">Welcome to Schedule Planner!</h1>

<form action="/" method="post" id="loginform">
    {% csrf_token %}
    <table>
        <tr>
            <td class="label">Name:</td>
            <td><input type="email" name="email" placeholder="user@email.com"></td>
        </tr>
        <tr>
            <td class="label">Password:</td>
            <td><input type="password" name="password"></td>
        </tr>
    </table>
    <input type="submit" name="navigation" value="Login" class="bluebutton">
</form>
{{ message }}
</body>
</html>