<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Section Page</title>
    <link href="{% static 'x.css' %}" rel="stylesheet" type="text/css">
</head>
<body id="wrapper">
<div id="navlist">
    <h1>Section Page - {{ section.sectionnumber }}. Assigned to {{ section.assigneduser.fullname }}</h1>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="viewcourse" class="bluebutton">Back To Course</button>
    </form>
    {% if role == 'admin' %}
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="editsection" class="bluebutton">Edit This Section</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" onclick="return confirm('Are you sure?')" name="navigation" value="deletesection" class="redbutton">Delete This Section</button>
    </form>
    {% endif %}
</body>
</html>