<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Section Page</title>
</head>
<body>
<h1>Section Page</h1>

    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="viewcourse">Back To Course</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="editsection">Edit This Section</button>
    </form>
    <form action="/sectionpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="deletesection">Delete This Section</button>
    </form>
</body>
</html>