<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h1>User Page - {{ user.fullname }}</h1>

    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="logout">Logout</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="dashboard">View Dashboard</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="courselist">View Course List</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="directory">View Directory</button>
    </form>
<br>
<br>
    {% if role == "admin" %}
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type = "submit" name="navigation" value="edituser">Edit User</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type = "submit" onclick="return confirm('Are you sure?')" name="navigation" value="deleteuser">Delete User</button>
    </form>
    {% endif %}

<table>
    <tr><td>User:</td><td>{{ user.fullname }}</td></tr>
    <tr><td>Email:</td><td>{{ user.email }}</td></tr>
    <tr><td>Role:</td><td>{{ user.role }}</td></tr>
    {% if role == "admin" %}
        <tr><td>Phone Number:</td><td>{{ user.phonenumber }}</td></tr>
        <tr><td>Address:</td><td>{{ user.streetaddress }}. {{ user.city }}, {{ user.state }} {{ user.zipcode}}</td></tr>
    {% endif %}
</table>
</body>
</html>