<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>User - {{ user.fullname }}</title>
    <link href="{% static 'x.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<body id="wrapper">
<div id="navlist">
    <h1>User Page - {{ user.fullname }}</h1>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="logout" class="redbutton">Logout</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="dashboard" class="bluebutton">View Dashboard</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="courselist" class="bluebutton">View Course List</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="directory" class="bluebutton">View Directory</button>
    </form>
</div>
<br>
<br>
{% if role == "admin" %}
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type="submit" name="navigation" value="edituser" class="bluebutton">Edit User</button>
    </form>
    <form action="/userpage/" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are you sure?')" name="navigation" value="deleteuser"
                class="redbutton">Delete User
        </button>
    </form>
{% endif %}
<table id="myTable">
    <tr>
        <td class="label">User:</td>
        <td>{{ user.fullname }}</td>
    </tr>
    <tr>
        <td class="label">Email:</td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td class="label">Role:</td>
        <td>{{ user.role }}</td>
    </tr>
    {% if role == "admin" %}
        <tr>
            <td class="label">Phone Number:</td>
            <td>{{ user.phonenumber }}</td>
        </tr>
        <tr>
            <td class="label">Address:</td>
            <td>{{ user.streetaddress }}. {{ user.city }}, {{ user.state }} {{ user.zipcode }}</td>
        </tr>
    {% endif %}
</table>
</body>
</html>